.PhoneInputCountrySelectArrow {
  width: 0.5em !important;
  height: 0.5em !important;
  border-bottom-width: 2px !important;
  border-right-width: 2px !important;
  border-color: #555568 !important;
  opacity: 1 !important;
}

.PhoneInputInput {
  outline: none !important;
  background-color: transparent !important;
}

.PhoneInputCountrySelect {
  background-color: #fff;
}

.dark .PhoneInputCountrySelect {
  background-color: #555568;
}

.stdropdown-container {
  border-color: #cdd2f0 !important;
}

.stsearch-box {
  padding: 11px !important;
}

.stdropdown-input input {
  border: none !important;
  outline: none;
  background-color: transparent;
}

.dark .stdropdown-input input {
  color: white;
}

.dark .stdropdown-container {
  border-color: transparent !important;
  background-color: #272730 !important;
}

.dark .stdropdown-container svg {
  fill: white;
}

.options::-webkit-scrollbar {
  width: 0;
}
